name: ci
on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'pyproject.toml'
  push:
    branches:
      - main
      - develop
    paths:
    - 'src/**'
    - 'tests/**'
    - 'pyproject.toml'

jobs:
  generate-readme-pdf:
    if: github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        poetry-version: ["1.2.0b3"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry
        uses: abatilo/actions-poetry@v2.1.3
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: build pandoc_pdf
        run: |
          poetry build
          pip install dist/pandoc_pdf*.whl

      - name: generate README.pdf
        run: |
          pandoc_pdf tests/README.md -p html5 -M title=README -M author=rai -M date="$(date +%B)\ $(date +%e),\ $(date +%Y) -o README_html5.pdf"
          pandoc_pdf tests/README.md -p latex -M title=README -M author=rai -M date="$(date +%B)\ $(date +%e),\ $(date +%Y) -o README_latex.pdf"

      - name: Upload a generated pdf
        uses: actions/upload-artifact@v3.1.0
        with:
          name: README_pdf
          path: |
            README_html5.pdf
            README_latex.pdf
